* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  body {
    font-size: 87.5%;
  }
}

@media (max-width: 1080px) {
  body {
    font-size: 93.75%;
  }
}

body, input, textarea, select {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

body {
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity:0.6;
  cursor: not-allowed;
}

a {
  list-style: none;
  color: black;
}